@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(70, 142, 236);
    font: normal 15pt Arial;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

header {
    color: white;
    text-align: center;
    padding: 30px 0px 25px 0px;
}

section {
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.411);
}

footer > p {
    margin-top: 15px;
    color: white;
    text-align: center;
    font-style: italic;
}